body {
    background-color: #f0f0f0;

}

.Barre {
    display: flex;
    list-style: none;
    justify-content: space-around;
}

.btn {
    background-color: #00fa08;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
    font-size: 26px;
    
    
}
.btn:active{
    background-color: #061af7;
    box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.btn:hover {
    background-color: #f70a06;
}


.haut img {
    width: 10%;
    height: 10%;

}

h1 {
    font-size: 250%;
    color: #4CAF50;




}

.top {
    display: flex;



}

li ul li {
    display: none;




}

li:hover ul li {
    display: block;

}

#article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 80%;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;

}
#article h3 {
    font-size: 300%;
    color: #CDA4F2;
    text-align: center;
    margin-bottom: 1px;
}
#article h4 {
    font-size: 200%;
    color: #CDA4F2;
    text-align: center;
    margin-bottom: 20px;
}

#article p {
    font-size: 155%;
    color: black;
    text-align: center;
    margin-bottom: 20px;
    
}
.art {
    background-color: greenyellow;
}