body {
    background-color: #f0f0f0;

}

.Barre {
    display: flex;
    list-style: none;
    justify-content: space-around;
}

.btn {
    background-image: url(/img/backg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
    font-size: 26px;
    
    
}
.btn:active{
    background-color: #061af7;
    box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.btn:hover {
    background-color: #f70a06;
}

.haut img {
    width: 10%;
    height: 10%;

}
.art {
    color: aliceblue;
}

h1 {
    font-size: 250%;
    color: #4CAF50;




}

.top {
    display: flex;



}

li ul li {
    display: none;




}

li:hover ul li {
    display: block;

}

.info {
    display: flex;
  margin-bottom: 2%;
    margin-top: 2%;
  justify-content: center;
}
.info p {
    margin: 0 10px;
    font-weight: bold;
    font-size: 20px;

}
.info input {
    width: 10%;
    margin: 0 10px;

    border-bottom: 1px solid black;
    background-color: transparent;
   
    font-size: 20px;
    font-weight: bold;
    justify-content: center;

}
.info textarea {
    width: 10%;
    margin: 0 10px;
}

#buttons {
    display: flex;
    justify-content: center;
    margin-top: 2%;
    margin-bottom: 2%;

}


