body {
    background-image: url(/img/backg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;    
    

}

.Barre {
    display: flex;
    list-style: none;
    justify-content: space-around;
}

.btn {
    background-color: #00fa08;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
    font-size: 26px;
    
    
}


.haut img {
    width: 10%;
    height: 10%;

}

h1 {
    font-size: 250%;
    color: #4CAF50;




}

.top {
    display: flex;



}

.btn:hover {
    background-color: #f70a06;
}

li ul li {
    display: none;




}

li:hover ul li {
    display: block;

}

.art {
    background-color: greenyellow;
}
.btn:active{
    background-color: #061af7;
    box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#prince {
    margin-top: 5%;
    display: grid;

    grid-gap: 10px;
    grid-template-areas: "a b c"
        "d e f"
        "g h i";

}

#txt1 {
    grid-area: a;

    color: lime;
    padding: 10px;
    font-size: 26px;
    text-align: center;
}

#txt2 {
    grid-area: b;

    color: lime;
    padding: 10px;
    font-size: 26px;
    text-align: center;

}

#txt2 img {
    height: 40%;
}

#txt1 h2:hover{
    display: none;
}
#txt2 h2:hover{
   background-color: pink;
    
}

#txt3 h2:hover{
    display: none;
}

#txt3 img {
    height: 40%;
}

#txt3 {
    grid-area: c;

    color: lime;
    padding: 10px;
    font-size: 26px;
    text-align: center;
}

footer img {
    width: 1%;
    height: 1%;
}

footer {
    display: flex;
    justify-content: space-around;
    
    color: white;
    padding: 10px;
    font-size: 26px;
    text-align: center;
}
footer a {
    color: white;
}

