body {
    background-color: #f0f0f0;

}

.Barre {
    display: flex;
    list-style: none;
    justify-content: space-around;
}

.btn {
    background-color: #00fa08;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
    font-size: 26px;
    
    
}
.btn:hover {
    background-color: #f70a06;
}
.btn:active{
    background-color: #061af7;
    box-shadow: 0 5px #666;
  transform: translateY(4px);
}


.haut img {
    width: 10%;
    height: 10%;

}

h1 {
    font-size: 250%;
    color: #4CAF50;




}

.top {
    display: flex;



}
.art {
    background-color: greenyellow;
}
li ul li {
    display: none;




}

li:hover ul li {
    display: block;

}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 3%;
    margin: 1%;
    padding: 1%;
    border: 1px solid black;
    border-radius: 10px;
    background-color: whitesmoke;
}

form input {
    margin: 1%;
    font-size: 20px;
    border-radius: 10px;
    border: 1px solid black;
    padding: 1%;

}
h2 {
    margin-top: 6%;
    text-align: center;
    font-size: 320%;
    

}

#sendbtn:active {
    background-color: #061af7;
    box-shadow: 5px 5px greenyellow;
   transform: perspective(45px) rotateX(24deg);
   
  
}

